<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><{block name="title"}><{/block}> - <{$Think.config.title}></title>
  <meta name="description" content="<{$Think.config.description}>">
  <meta name="keywords" content="<{$Think.config.keywords}>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta content="email=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <{block name="style"}><{/block}>
</head>
<body>
<{block name="body"}><{/block}>
</body>
</html>